In [1]:
import json
import pandas as pd
pd.get_option("display.max_columns")


with open('../results/hadoop_results_p.json') as d:
    data = json.load(d)

In [2]:
df = pd.json_normalize(data)

df

,falsePositiveRate,executionTime,nReducerJob0,nReducerJob1,executionTimeJob0,executionTimeJob1,executionTimeJob2,iteration,nLineSplitJob1
0,0.01,67503,2,2,22251,20151,22774,0,400000
1,0.01,66153,2,2,20118,19906,23806,1,400000
2,0.01,69818,2,2,22506,19379,25495,2,400000
3,0.01,73705,2,2,20746,19270,30210,3,400000
4,0.01,68580,2,2,22560,19175,24511,4,400000
5,0.01,77307,2,2,21605,21716,31581,5,400000
6,0.01,69991,2,2,22198,19130,25997,6,400000
7,0.01,66695,2,2,20084,19104,25085,7,400000
8,0.01,71553,2,2,22474,20160,26853,8,400000
9,0.01,67253,2,2,20347,19126,25377,9,400000
10,0.05,63899,2,2,19564,17986,24027,0,400000
11,0.05,67349,2,2,21705,19289,24109,1,400000
12,0.05,66601,2,2,19961,19237,25089,2,400000
13,0.05,64004,2,2,20697,18155,22917,3,400000
14,0.05,66595,2,2,20559,18473,25120,4,400000
15,0.05,66931,2,2,20348,20224,23995,5,400000
16,0.05,66656,2,2,19304,19185,25892,6,400000
17,0.05,65759,2,2,20277,18162,24926,7,400000
18,0.05,70259,2,2,21427,19203,27395,8,400000
19,0.05,72479,2,2,21454,20278,28421,9,400000
20,0.10,70742,2,2,21406,21174,25990,0,400000
21,0.10,66158,2,2,19541,19192,25024,1,400000
22,0.10,68502,2,2,22358,18524,25032,2,400000
23,0.10,61768,2,2,20163,16852,22769,3,400000
24,0.10,63452,2,2,19523,16933,24763,4,400000
25,0.10,63761,2,2,20226,18379,22784,5,400000
26,0.10,66474,2,2,19145,20051,24902,6,400000
27,0.10,65797,2,2,19193,21374,22784,7,400000
28,0.10,67748,2,2,21380,19275,24925,8,400000
29,0.10,66885,2,2,20413,18015,25817,9,400000
30,0.20,63802,2,2,18540,20197,22836,0,400000
31,0.20,62345,2,2,20429,16949,22782,1,400000
32,0.20,67393,2,2,21227,19083,24873,2,400000
33,0.20,62401,2,2,18984,17041,23921,3,400000
34,0.20,63749,2,2,20327,19263,21946,4,400000
35,0.20,67223,2,2,19133,21009,24766,5,400000
36,0.20,63483,2,2,19109,18162,23876,6,400000
37,0.20,63125,2,2,19193,18043,23780,7,400000
38,0.20,65653,2,2,20321,20046,22853,8,400000
39,0.20,69524,2,2,20278,20069,26967,9,400000

Now that the data has been loaded, we compute the mean and the standard deviation on the ten iteration of all the combinations

In [3]:
df = df.groupby(['falsePositiveRate', 'nReducerJob0', 'nReducerJob1', 'nLineSplitJob1']).agg(['mean', 'std'])
df = df.reset_index(['falsePositiveRate', 'nReducerJob0', 'nReducerJob1', 'nLineSplitJob1'])
df.columns = ['_'.join(col) for col in df.columns.values]
df

,falsePositiveRate_,nReducerJob0_,nReducerJob1_,nLineSplitJob1_,executionTime_mean,executionTime_std,executionTimeJob0_mean,executionTimeJob0_std,executionTimeJob1_mean,executionTimeJob1_std,executionTimeJob2_mean,executionTimeJob2_std,iteration_mean,iteration_std
0,0.01,2,2,400000,69855.8,3509.925666,21488.9,1051.887980,19711.7,822.832648,26168.9,2753.426530,4.5,3.02765
1,0.05,2,2,400000,67053.2,2610.079641,20529.6,811.368145,19019.2,820.913556,25189.1,1666.488754,4.5,3.02765
2,0.10,2,2,400000,66128.7,2627.329825,20334.8,1074.408757,18976.9,1564.989915,24479.0,1238.495952,4.5,3.02765
3,0.20,2,2,400000,64869.8,2449.775219,19754.1,864.923304,18986.2,1392.132481,23860.0,1429.799364,4.5,3.02765

In [4]:
df.sort_values(by=['executionTimeJob1_mean', 'executionTimeJob0_mean'])

,falsePositiveRate_,nReducerJob0_,nReducerJob1_,nLineSplitJob1_,executionTime_mean,executionTime_std,executionTimeJob0_mean,executionTimeJob0_std,executionTimeJob1_mean,executionTimeJob1_std,executionTimeJob2_mean,executionTimeJob2_std,iteration_mean,iteration_std
2,0.10,2,2,400000,66128.7,2627.329825,20334.8,1074.408757,18976.9,1564.989915,24479.0,1238.495952,4.5,3.02765
3,0.20,2,2,400000,64869.8,2449.775219,19754.1,864.923304,18986.2,1392.132481,23860.0,1429.799364,4.5,3.02765
1,0.05,2,2,400000,67053.2,2610.079641,20529.6,811.368145,19019.2,820.913556,25189.1,1666.488754,4.5,3.02765
0,0.01,2,2,400000,69855.8,3509.925666,21488.9,1051.887980,19711.7,822.832648,26168.9,2753.426530,4.5,3.02765